@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}
.image-container {
  position: relative;
  overflow: hidden;
}

.image-container::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  box-shadow: inset 0 0 0 1000px rgba(0, 0, 0.7, 0.6); /* Ciemna otoczka */
}

.home-image {
  width: 100%;
  height: 550px;
  object-fit: cover;
}

.register-page {
  height: 100vh;
}

.register-label {
  display: flex;
  width: 35vw;
  flex-direction: column;
  border-bottom: 2px solid gray;
  font-size: larger;
  color: gray;
}

.register-img {
  object-fit: cover;
}

.register-form {
  gap: 20px;
  margin: 5rem 0;
}

.register-header {
  font-size: 3rem;
  font-weight: 700;
}

.register-input {
  outline: none;
}

.register-btn {
  font-size: 2.3rem;
  background-color: #c7aa2c;
  background-image: linear-gradient(132deg, #c7aa2c 0%, #29b597 100%);
  font-weight: 500;
  color: whitesmoke;
  padding: 0.2rem 13rem;
  border-radius: 2rem;
}
